* {
  padding: 0;
  margin: 0;
}
html {
  --white-bg: #eee;
  --light-blue: #60a5fa;
  --dark-blue: #1e3a8a;
  --light-secondary-color: #dfdfdf;
  --darker-secondary-color: #aaa;
  background-color: var(--white-bg);
}
button {
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}
.navbar {
  background-color: white;
  box-shadow: 5px 0px 10px #0000002e;
  padding: 10vh 10%;
}
.navbar h1 {
  color: var(--dark-blue);
  font-size: 2.5em;
  margin-bottom: 10vh;
}
.navbar li {
  list-style: none;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar li:hover {
  color: var(--light-blue);
}
.navbar li > i {
  color: var(--dark-blue);
  text-decoration: none;
}
#content {
  margin: 5vh 5vw;
  background-color: var(--white-bg);
}
.projects-div {
  display: flex;
  gap: 20px;
  border: 2px solid var(--dark-blue);
  padding: 5vh 10%;
  flex-wrap: wrap;
}

.project-container {
  border: 2px solid var(--dark-blue);
  width: 45%;
}
.project {
  background-color: var(--light-blue);
  padding: 2vw;
  color: var(--light-secondary-color);
  font-size: 2vw;
  position: relative;
}

.project .title {
  font-size: 3vw;
  margin-bottom: 2vw;
  color: white;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}
.tasks-div .add-task,
.add-proj {
  width: auto;
  background-color: var(--light-blue);
  color: white;
  border-radius: 50%;
  border: none;
  padding: 20px;
  display: block;
  float: right;
  font-weight: bold;
  font-size: 1.3em;
}
.header h2 {
  margin: auto;
  font-size: 2.4em;
}

.task {
  padding: 1vw;
  position: relative;
  font-size: 1vw;
  color: var(--darker-secondary-color);
}
.task .title {
  color: black;
  margin-left: -5px;
}
.task:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: var(--dark-blue);
  height: 2px;
  width: 80%;
  bottom: 0vw;
  left: 10%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2vw;
}
.buttons button {
  padding: 0.5vw 1vw;
  color: var(--white-bg);
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 2vw;
}
.buttons .del-button {
  background-color: red;
}
.buttons .edit-button,
.buttons .recover-button {
  background-color: #1e3a8a;
}
.buttons .done-button {
  background-color: green;
}
.buttons .add-task {
  display: block;
  background-color: #db9704;
  position: absolute;
  top: 2vw;
  right: 20px;
  font-weight: bold;
  border-radius: 50%;
}
.form-div {
  position: fixed;
  top: 20vh;
  left: 20vw;
}
.form-div .mask {
  background-color: rgba(0, 0, 0, 0.253);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 0;
  left: 0;
}
.form-div .form-header {
  z-index: 1;
  position: relative;
}
.form-div form {
  z-index: 1;
  position: relative;
  background: white;
  height: 50vh;
  width: 50vw;
  padding: 4vw 10vw;
  border: 2px solid cyan;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-div form .input-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5vw;
  align-items: center;
}
.form-div form .input-div label {
  text-transform: capitalize;
  font-size: 2em;
  text-align: end;
}
.form-div form .input-div input {
  height: 60%;
}
.form-div form .input-div input,
.form-div form .input-div textarea {
  outline: none;
  font-size: 1.4em;
  border-radius: 10px;
}
.form-div form .input-div input:focus,
.form-div form .input-div textarea:focus {
  border: 2px solid var(--light-blue);
}
.form-div form .input-div textarea {
  height: 100px;
}

.form-div form button {
  width: 30%;
  margin: auto;
  background-color: var(--light-blue);
  padding: 30px 10px;
  border-radius: 20px;
  border: 2px solid var(--white-bg);
  font-size: 1.7em;
  color: var(--white-bg);
}
.form-div form button:hover {
  color: var(--light-blue);
  background-color: var(--white-bg);
  border: 2px solid var(--light-blues);
}

.tasks-div {
  margin-top: 5vh;
  border: 2px solid var(--dark-blue);
  padding: 5vh 10%;
}

.completed {
  opacity: 0.5;
  position: relative;
}
.completed::before {
  content: "Done";
  position: absolute;
  color: green;
  font-size: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (max-width: 1200px) {
  .project-container {
    width: 90%;
    margin: auto;
    font-size: 2em;
  }
  .project-container .title,
  .task .title {
    font-size: 40px;
    text-align: center;
  }
  .project-container p,
  .task p {
    font-size: 18px;
    text-align: center;
  }
  .project-container .project {
    padding: 30px;
  }
  .task {
    padding: 30px;
  }
  .navbar li {
    font-size: 1.2em;
  }
  .buttons button {
    padding: 10px;
    font-size: 25px;
  }
}
@media (max-width: 927px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .navbar h1 {
    font-size: 40px;
    margin: 0;
  }
  .navbar ul {
    display: flex;
    gap: 20px;
  }
  .navbar li {
    font-size: 25px;
    gap: 5px;
  }
}
@media (max-width: 675px) {
  .navbar {
    padding: 3vw;
  }
  .navbar h1 {
    font-size: 5vw;
  }
  .navbar li {
    font-size: 3.5vw;
    gap: 1vw;
  }
  .navbar ul {
    gap: 2vw;
  }

  .project-container .title,
  .task .title {
    font-size: 3.5vw;
  }
  .project-container p,
  .task p {
    font-size: 3vw;
    text-align: center;
  }

  .project-container .project {
    padding: 5vw;
  }
  .task {
    padding: 5vw;
  }

  .buttons button {
    padding: 2vw;
    font-size: 4vw;
  }
  .header h2 {
    font-size: 10vw;
  }
  .tasks-div .add-task,
  .add-proj {
    padding: 3vw;
    font-size: 4vw;
  }
}
